@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Variables */
:root {
  --header-size: 64px;

  --color-black: #252525;
  --color-grey: #777777;
  --color-primary: #2979C1;
  --color-secondary: #FFCB05;
  --color-error: #D32F2F;

  --gradient-primary: linear-gradient(0deg, #3A5CA8, #1897DC);
}

/* Default Elements */
* {
  font-family: Roboto, 'Segoe UI', sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1, h2, p {
  transition: all 0.25s ease-in;
}

h1.recommended {
  font-size: 24px;
  color: #fff;
  width: max-content;
  background: var(--gradient-primary);
  padding: 0.5em 2em;
  border-radius: 8px;
  text-transform: uppercase;
  margin: 0 auto;
  box-shadow: var(--color-primary) 0 4px 8px -2px;
}
h2 {
  font-size: 16px;
  color: var(--color-black);
}

p {
  color: var(--color-black);
}


@media (max-width: 1280px) and (min-width: 1024px) {
  h1 {
    font-size: 22px;
  }
}
@media (max-width: 1024px) and (min-width: 720px) {
  h1 {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  h1 {
    font-size: min(4vw, 20px);
  }
}


/* Misc */
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
