.product-detail-root {
  width: min(90%, 1200px);
  padding: 50px 0 100px;
  margin: 0 auto;
}
.product-detail-wrapper {
  display: flex;
  gap: 75px;
  padding-bottom: 50px;
}
.product-detail-wrapper .image-container {
  width: 250px;
  margin-top: 5px;
}
.product-detail-wrapper img.detail-image {
  width: 100%;
  border-radius: 5px;
}
.product-detail-wrapper .image-container .artist-name {
  font-size: 12px;
  font-style: italic;
  color: var(--color-grey);
}

.product-detail-container {
  flex-grow: 1;
}
.product-detail-container .name-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
.product-detail-container h1 {
  margin: 0;
}
.product-detail-container .detail-split {
  display: flex;
}
.product-detail-container .attributes {
  width: 400px;
  border-collapse: separate;
  border-spacing: 0 16px;
}
.product-detail-container .attributes .attack-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.product-detail-container .attributes p.attack {
  margin: 0;
}
.product-detail-container .attributes td {
  vertical-align: top;
}
.product-detail-container .attributes tr td:first-child {
  color: var(--color-grey);
}
.product-detail-container .weak-resi-container {
  margin-top: 16px;
}
.product-detail-container .weak-resi-container .wr-label {
  color: var(--color-grey);
}
.product-detail-container .type-container {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 12px;
}

.energy-icon {
  background-image: url(../../public/img/energy-types.png);
  width: 25px;
  height: 25px;
}
.energy-icon.water {
  background-position: 25px 25px;
}
.energy-icon.grass {
  background-position: -25px -50px;
}
.energy-icon.fire {
  background-position: 0 0;
}
.energy-icon.lightning {
  background-position: -50px -50px;
}
.energy-icon.psychic {
  background-position: -75px -25px;
}
.energy-icon.fighting {
  background-position: -50px -25px;
}
.energy-icon.darkness {
  background-position: 0 -50px;
}
.energy-icon.metal {
  background-position: -75px 0;
}
.energy-icon.colorless {
  background-position: -25px 0;
}
.energy-icon.fairy {
  background-position: -50px 0;
}
.energy-icon.dragon {
  background-position: 0 -25px;
}

.add-to-basket-container {
  margin-top: 50px;
}
.add-to-basket-container .detail-price {
  display: block;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: right;
}
.add-to-basket-container .add-basket-group {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
